[Desktop Entry]
Type=Application
Version=1.0
Name=SokoAdventure
GenericName=Puzzle Game
Comment=Play a Sokoban inspired game
Icon=sokoadventure
Exec=ruby /opt/vds-games/sokoadventure/src/main.rb
Terminal=false
StartupNotify=false
Categories=Game;LogicGame
