[Desktop Entry]
Type=Application
Version=1.0.0
Encoding=UTF-8
Name=SokoAdventure
GenericName=Puzzle Game
Comment=Play a Sokoban style game
Icon=sokoadventure
Exec=/usr/share/games/sokoadventure/launch.sh
Terminal=false
StartupNotify=false
Categories=Game;LogicGame
