Package: sokoadventure
Priority: optional
Version: 2.1.0
Architecture: all
Maintainer: Victor David Santos <victordavidsantos@gmail.com>
Installed-Size: 13584
Depends: build-essential, libsdl2-dev, libgl1-mesa-dev, libopenal-dev, libsndfile-dev, libmpg123-dev, libgmp-dev, libfontconfig1-dev, ruby, ruby-dev
Homepage: https://github.com/victords/sokoadventure
Section: games
Description: SokoAdventure
 SokoAdventure is a puzzle game based on Sokoban. The main goal is to put all boxes in their respective places.
